###############################################################################
# PYTHON
###############################################################################

__pycache__/
*.py[cod]
*$py.class

###############################################################################
# ENVIRONNEMENTS VIRTUELS
###############################################################################

.venv/
venv/
env/
ENV/

###############################################################################
# VARIABLES D'ENVIRONNEMENT
###############################################################################

.env
.env.*

###############################################################################
# DJANGO
###############################################################################

staticfiles/

###############################################################################
# LOGS
###############################################################################

*.log

###############################################################################
# TESTS
###############################################################################

.coverage
.pytest_cache/
htmlcov/

###############################################################################
# IDE / EDITEURS
###############################################################################

.vscode/
.idea/

###############################################################################
# SYSTEME
###############################################################################

.DS_Store
Thumbs.db

###############################################################################
# DOSSIERS GENERES
###############################################################################

media/
var/logs/
var/temporary/
var/exports/

###############################################################################
# EXPORTS ACTUELS
###############################################################################

accueil/services_nouveau/services/exports/

###############################################################################
# SAUVEGARDE DE L'ANCIEN PROJET
###############################################################################

ancienne_organisation/

###############################################################################
# ARCHIVES
###############################################################################

*.zip

###############################################################################
# BASE SQLITE
###############################################################################

# On la garde pour le moment.
# db.sqlite3
